.errorboundary{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    gap: 100px;
}

.btn_error{
    cursor: pointer;
}